<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shlogo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/sh_logo_icon"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/sh_logo_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.DeviceSettingsActivity" />
        <activity android:name=".activities.SensorActivity" />
        <activity android:name=".activities.ActorActivity" />
        <activity
            android:name=".activities.AddDevice"
            android:theme="@style/AddDevice">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".MyBroadcastReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.POWER_CONNECTED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>